llama-index 
llama-index-llms-openai 
llama-index-agent-openai
llama-index-readers-google 
llama-index-tools-tavily-research 
sec-api
google-api-python-client 
pydrive2 
llama-index-core
docx2txt
